****/*.tar
****/*.pkl
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*****.pyc
****/*.so
ffb6d/datasets/ycb/YCB_Video_Dataset
ffb6d/datasets/linemod/Linemod_preprocessed
apex/
normalSpeed/
