apex==0.1
boxx==0.10.1
cffi==1.11.5
Cython==0.29.30
ipython==8.4.0
numpy==1.19.5
opencv_python==3.4.18.65
pandas==1.1.5
Pillow==9.1.1
plyfile==0.6
pypng==0.0.21
pyrender==0.1.45
PyYAML==6.0
scikit_learn==1.1.1
scipy==1.4.1
tensorboardX==2.5.1
termcolor==1.1.0
torch==1.4.0
torchvision==0.2.0
tqdm==4.64.0
trimesh==3.12.6
