apex==0.1
boxx==0.10.5
cffi==1.11.5
Cython==0.29.28
einops==0.4.1
ipython==8.4.0
matplotlib==3.5.1
numpy==1.22.3
opencv_contrib_python==4.5.5.62
pandas==1.4.1
Pillow==9.2.0
plyfile==0.7.4
pypng==0.20220715.0
pyrender==0.1.45
PyYAML==6.0
scikit_learn==1.1.1
scipy==1.8.0
tensorboard==2.8.0
tensorboardX==2.5.1
termcolor==1.1.0
torch==1.8.1+cu111
torchvision==0.9.1+cu111
tqdm==4.63.1
trimesh==3.12.9
